/*
!/.gitignore

!/src/**
!/docs/**
!/static/**
!/functions/**
/functions/node_modules/**

!/LICENSE
!/README.md

!/package.json
!/package-lock.json

!/webpack.config.js

!/tsconfig.json

!/.firebaserc
!/firebase.json